<div class="post">
    <article class="card">
        <div classs="card-header flex-row justify-content-between">
        <h2>{{post.title}}</h2>
    </div>
        posted by {{post.user.username}} on {{formatDate post.createdAt}}
    </div>
    <div class="card-body">
        {{post.body}}
    </div>
</article>

{{#if post.comments}}

<section class="card">
    <div class="card-header">
        <h2>Comments</h2>
    </div>

    <div class="card-body">
        {{#each post.comments as |comment|}}
        {{> comments}}
        {{/each}}
        <div>
</section>
{{/if}}

<form id="commentForm" class="card">
    <div class="card-header">
        <h2>Add a Comment</h2>
    </div>

    <div class="card-body">
        <input type="hidden" name="postId" value="{{post.id}}"/>
        <label class="form-label" for="commentBody">Comment:</label>
        <textarea id="commentBody" class="form-input"></textarea>
        <button type="submit" id="Button" class="btn">Submit</button>
    </div>
</form>
</div>






    <script src="/Develop/public/js/comment.js"></script>
